                </div>
            </div><!-- doi template -->
        </div><!-- container -->

        <footer class="footer">
            <div class="container">
                <p class="text-muted">(c) 2019 - <a href="/index.html">OSUG DOI</a></p>
            </div>
        </footer>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
        <script src="/js/jquery-1.12.4.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="/bootstrap/js/bootstrap.min.js"></script>
        <script>
          $(document).ready(function(){
            $('table').addClass('table table-hover table-condensed');

			// Set the path heading
			var location = decodeURI(document.location.pathname);
			var segments = location.split("/");
			var breadcrumbs = '';
			var currentPath = "/";
			for (var i = 0; i < segments.length; i++) {
				if (segments[i] != '') {
					currentPath += segments[i] + '/';
					breadcrumbs += '<li><a href="' +  currentPath + '">' + segments[i] + '</a></li>';
				}
			}
			document.title = "OSUG DOI - " + location;
			$('#folder').html(breadcrumbs);
          });
        </script>
    </body>
</html>



